@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body, html{
    margin: 0;
    color: white;
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 2.7fr 4fr;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(11, 12, 15.5);
    height: 100vh;
}
.first div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.first div img{
    margin-top: 15px;
}
.img1{
    margin-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}
.img1 img{
    width: 303px;
    max-width: 80%;
}
.label{
    width: 330px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    
}
.label label{
    margin-bottom: 7px;
}
.label input{
    height: 38px;
    background: rgb(12, 12, 14);
    border: 0.5px solid rgb(114, 114, 114);
    border-radius: 2px;
    color: white;
}
.first .button1 button, .button2 button{
    width: 330px;
    height: 38px;
    background-color: rgb(16, 111, 194);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.first .anchor a{
    text-decoration: none;
    color: rgb(62, 168, 255);
    font-size: 15px;
    padding: 10px;
}
.hr{
    width: 330px;
}

.first .button2 button{
    background-color: rgb(34, 35, 36);
    margin-bottom: 28px;
}
.copyright{
    font-size: 12px;
    color: rgb(180, 180, 180);
}
.anchor2 a{
    font-size: 11px;
    color: rgb(180, 180, 180);
}
.second{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}
.second .img2{
width: 71%;
}
.login-h1{
    position: absolute;
    margin-right: 230px;
    margin-top: 175px;
}
.button3{
    position: absolute;
    margin-top: 475px;
    margin-right: 495px;
}
.button3 button{
    width: 235px;
    height: 40px;
    background-image: linear-gradient(to right,#F05A28,#EC008C,#F05A28);
    color: white;
    border: none;
    border-radius: 3px ;
    cursor: pointer;
}
.build{
    position: absolute;
    bottom: 0;
    right: 0;
}
.build img{
    width: 150px;
    margin-bottom: 35px;
    margin-right: 35px;
}